body {
  font-family: 'Poppins', sans-serif;
  ;
  margin-top: 0;
  padding: 0;
  background-color: #090907;
  color: #121215;
  background-image: url("../public/todo-list.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  border: 0;
}